# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

In [2]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.sqlite',detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [4]:
cur.execute('''select firstName, lastName, city, state
                from employees e
                join offices o on e.officeCode = o.officeCode
                order by firstName, lastName
                ''')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0]for i in cur.description]
df.head()

  firstName lastName           city state
0      Andy   Fixter         Sydney
1   Anthony      Bow  San Francisco    CA
2     Barry    Jones         London
3     Diane   Murphy  San Francisco    CA
4  Foon Yue    Tseng            NYC    NY

In [5]:
cur.execute('''select *
                from employees e
                join offices o on e.officeCode = o.officeCode
                order by firstName, lastName
                ''')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0]for i in cur.description]
df.head()

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory
0,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088,Sales Rep,6,Sydney,+61 2 9264 2451,5-11 Wentworth Avenue,Floor #2,,Australia,NSW 2010,APAC
1,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056,Sales Manager (NA),1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA
2,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep,7,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA
3,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA
4,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143,Sales Rep,3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [7]:
# Your code here
cur.execute('''select customerName, o.orderNumber, o.orderDate, o.status
                from customers c
                join orders o on c.customerNumber = o.customerNumber
                ''')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0]for i in cur.description]
df.head(50)

                    customerName orderNumber   orderDate      status
0              Atelier graphique       10123  2003-05-20     Shipped
1              Atelier graphique       10298  2004-09-27     Shipped
2              Atelier graphique       10345  2004-11-25     Shipped
3             Signal Gift Stores       10124  2003-05-21     Shipped
4             Signal Gift Stores       10278  2004-08-06     Shipped
5             Signal Gift Stores       10346  2004-11-29     Shipped
6     Australian Collectors, Co.       10120  2003-04-29     Shipped
7     Australian Collectors, Co.       10125  2003-05-21     Shipped
8     Australian Collectors, Co.       10223  2004-02-20     Shipped
9     Australian Collectors, Co.       10342  2004-11-24     Shipped
10    Australian Collectors, Co.       10347  2004-11-29     Shipped
11             La Rochelle Gifts       10275  2004-07-23     Shipped
12             La Rochelle Gifts       10315  2004-10-29     Shipped
13             La Rochelle Gifts       10375  2005-02-03     Shipped
14             La Rochelle Gifts       10425  2005-05-31  In Process
15            Baane Mini Imports       10103  2003-01-29     Shipped
16            Baane Mini Imports       10158  2003-10-10     Shipped
17            Baane Mini Imports       10309  2004-10-15     Shipped
18            Baane Mini Imports       10325  2004-11-05     Shipped
19  Mini Gifts Distributors Ltd.       10113  2003-03-26     Shipped
20  Mini Gifts Distributors Ltd.       10135  2003-07-02     Shipped
21  Mini Gifts Distributors Ltd.       10142  2003-08-08     Shipped
22  Mini Gifts Distributors Ltd.       10182  2003-11-12     Shipped
23  Mini Gifts Distributors Ltd.       10229  2004-03-11     Shipped
24  Mini Gifts Distributors Ltd.       10271  2004-07-20     Shipped
25  Mini Gifts Distributors Ltd.       10282  2004-08-20     Shipped
26  Mini Gifts Distributors Ltd.       10312  2004-10-21     Shipped
27  Mini Gifts Distributors Ltd.       10335  2004-11-19     Shipped
28  Mini Gifts Distributors Ltd.       10357  2004-12-10     Shipped
29  Mini Gifts Distributors Ltd.       10368  2005-01-19     Shipped
30  Mini Gifts Distributors Ltd.       10371  2005-01-23     Shipped
31  Mini Gifts Distributors Ltd.       10382  2005-02-17     Shipped
32  Mini Gifts Distributors Ltd.       10385  2005-02-28     Shipped
33  Mini Gifts Distributors Ltd.       10390  2005-03-04     Shipped
34  Mini Gifts Distributors Ltd.       10396  2005-03-23     Shipped
35  Mini Gifts Distributors Ltd.       10421  2005-05-29  In Process
36          Blauer See Auto, Co.       10101  2003-01-09     Shipped
37          Blauer See Auto, Co.       10230  2004-03-15     Shipped
38          Blauer See Auto, Co.       10300  2003-10-04     Shipped
39          Blauer See Auto, Co.       10323  2004-11-05     Shipped
40               Mini Wheels Co.       10111  2003-03-25     Shipped
41               Mini Wheels Co.       10201  2003-12-01     Shipped
42               Mini Wheels Co.       10333  2004-11-18     Shipped
43             Land of Toys Inc.       10107  2003-02-24     Shipped
44             Land of Toys Inc.       10248  2004-05-07   Cancelled
45             Land of Toys Inc.       10292  2004-09-08     Shipped
46             Land of Toys Inc.       10329  2004-11-15     Shipped
47        Euro+ Shopping Channel       10104  2003-01-31     Shipped
48        Euro+ Shopping Channel       10128  2003-06-06     Shipped
49        Euro+ Shopping Channel       10133  2003-06-27     Shipped

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [8]:
#this isn't needed....can answer question with basic select from orderdetails table

# Your code here
cur.execute('''select o.orderNumber, od.*
                from orders o
                join orderdetails od on o.orderNumber = od.orderNumber
                ''')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0]for i in cur.description]
df.head(50)

,orderNumber,orderNumber,productCode,quantityOrdered,priceEach,orderLineNumber
0,10100,10100,S18_1749,30,136.00,3
1,10100,10100,S18_2248,50,55.09,2
2,10100,10100,S18_4409,22,75.46,4
3,10100,10100,S24_3969,49,35.29,1
4,10101,10101,S18_2325,25,108.06,4
5,10101,10101,S18_2795,26,167.06,1
6,10101,10101,S24_1937,45,32.53,3
7,10101,10101,S24_2022,46,44.35,2
8,10102,10102,S18_1342,39,95.55,2
9,10102,10102,S18_1367,41,43.13,1
10,10103,10103,S10_1949,26,214.30,11
11,10103,10103,S10_4962,42,119.67,4
12,10103,10103,S12_1666,27,121.64,8
13,10103,10103,S18_1097,35,94.50,10
14,10103,10103,S18_2432,22,58.34,2
15,10103,10103,S18_2949,27,92.19,12
16,10103,10103,S18_2957,35,61.84,14
17,10103,10103,S18_3136,25,86.92,13
18,10103,10103,S18_3320,46,86.31,16
19,10103,10103,S18_4600,36,98.07,5
20,10103,10103,S18_4668,41,40.75,9
21,10103,10103,S24_2300,36,107.34,1
22,10103,10103,S24_4258,25,88.62,15
23,10103,10103,S32_1268,31,92.46,3
24,10103,10103,S32_3522,45,63.35,7
25,10103,10103,S700_2824,42,94.07,6
26,10104,10104,S12_3148,34,131.44,1
27,10104,10104,S12_4473,41,111.39,9
28,10104,10104,S18_2238,24,135.90,8
29,10104,10104,S18_2319,29,122.73,12
30,10104,10104,S18_3232,23,165.95,13
31,10104,10104,S18_4027,38,119.20,3
32,10104,10104,S24_1444,35,52.02,6
33,10104,10104,S24_2840,44,30.41,10
34,10104,10104,S24_4048,26,106.45,5
35,10104,10104,S32_2509,35,51.95,11
36,10104,10104,S32_3207,49,56.55,4
37,10104,10104,S50_1392,33,114.59,7
38,10104,10104,S50_1514,32,53.31,2
39,10105,10105,S10_4757,50,127.84,2
40,10105,10105,S12_1108,41,205.72,15
41,10105,10105,S12_3891,29,141.88,14
42,10105,10105,S18_3140,22,136.59,11
43,10105,10105,S18_3259,38,87.73,13
44,10105,10105,S18_4522,41,75.48,10
45,10105,10105,S24_2011,43,117.97,9
46,10105,10105,S24_3151,44,73.46,4
47,10105,10105,S24_3816,50,75.47,1
48,10105,10105,S700_1138,41,54.00,5
49,10105,10105,S700_1938,29,86.61,12

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and allthe product information for each product in the order.

In [9]:
# Your code here
cur.execute('''select o.orderNumber, od.*, p.*
                from orders o
                join orderdetails od on o.orderNumber = od.orderNumber
                join products p on od.productCode = p.productCode
                ''')
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0]for i in cur.description]
df.head(50)

,orderNumber,orderNumber,productCode,quantityOrdered,priceEach,orderLineNumber,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,10100,10100,S18_1749,30,136.00,3,S18_1749,1917 Grand Touring Sedan,Vintage Cars,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00
1,10100,10100,S18_2248,50,55.09,2,S18_2248,1911 Ford Town Car,Vintage Cars,1:18,Motor City Art Classics,"Features opening hood, opening doors, opening ...",540,33.30,60.54
2,10100,10100,S18_4409,22,75.46,4,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,Vintage Cars,1:18,Exoto Designs,This 1:18 scale precision die cast replica fea...,6553,43.26,92.03
3,10100,10100,S24_3969,49,35.29,1,S24_3969,1936 Mercedes Benz 500k Roadster,Vintage Cars,1:24,Red Start Diecast,This model features grille-mounted chrome horn...,2081,21.75,41.03
4,10101,10101,S18_2325,25,108.06,4,S18_2325,1932 Model A Ford J-Coupe,Vintage Cars,1:18,Autoart Studio Design,This model features grille-mounted chrome horn...,9354,58.48,127.13
5,10101,10101,S18_2795,26,167.06,1,S18_2795,1928 Mercedes-Benz SSK,Vintage Cars,1:18,Gearbox Collectibles,This 1:18 replica features grille-mounted chro...,548,72.56,168.75
6,10101,10101,S24_1937,45,32.53,3,S24_1937,1939 Chevrolet Deluxe Coupe,Vintage Cars,1:24,Motor City Art Classics,This 1:24 scale die-cast replica of the 1939 C...,7332,22.57,33.19
7,10101,10101,S24_2022,46,44.35,2,S24_2022,1938 Cadillac V-16 Presidential Limousine,Vintage Cars,1:24,Classic Metal Creations,This 1:24 scale precision die cast replica of ...,2847,20.61,44.80
8,10102,10102,S18_1342,39,95.55,2,S18_1342,1937 Lincoln Berline,Vintage Cars,1:18,Motor City Art Classics,"Features opening engine cover, doors, trunk, a...",8693,60.62,102.74
9,10102,10102,S18_1367,41,43.13,1,S18_1367,1936 Mercedes-Benz 500K Special Roadster,Vintage Cars,1:18,Studio M Art Models,This 1:18 scale replica is constructed of heav...,8635,24.26,53.91
10,10103,10103,S10_1949,26,214.30,11,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
11,10103,10103,S10_4962,42,119.67,4,S10_4962,1962 LanciaA Delta 16V,Classic Cars,1:10,Second Gear Diecast,Features include: Turnable front wheels; steer...,6791,103.42,147.74
12,10103,10103,S12_1666,27,121.64,8,S12_1666,1958 Setra Bus,Trucks and Buses,1:12,Welly Diecast Productions,"Model features 30 windows, skylights & glare r...",1579,77.90,136.67
13,10103,10103,S18_1097,35,94.50,10,S18_1097,1940 Ford Pickup Truck,Trucks and Buses,1:18,Studio M Art Models,"This model features soft rubber tires, working...",2613,58.33,116.67
14,10103,10103,S18_2432,22,58.34,2,S18_2432,1926 Ford Fire Engine,Trucks and Buses,1:18,Carousel DieCast Legends,Gleaming red handsome appearance. Everything i...,2018,24.92,60.77
15,10103,10103,S18_2949,27,92.19,12,S18_2949,1913 Ford Model T Speedster,Vintage Cars,1:18,Carousel DieCast Legends,This 250 part reproduction includes moving han...,4189,60.78,101.31
16,10103,10103,S18_2957,35,61.84,14,S18_2957,1934 Ford V8 Coupe,Vintage Cars,1:18,Min Lin Diecast,"Chrome Trim, Chrome Grille, Opening Hood, Open...",5649,34.35,62.46
17,10103,10103,S18_3136,25,86.92,13,S18_3136,18th Century Vintage Horse Carriage,Vintage Cars,1:18,Red Start Diecast,Hand crafted diecast-like metal horse carriage...,5992,60.74,104.72
18,10103,10103,S18_3320,46,86.31,16,S18_3320,1917 Maxwell Touring Car,Vintage Cars,1:18,Exoto Designs,"Features Gold Trim, Full Size Spare Tire, Chro...",7913,57.54,99.21
19,10103,10103,S18_4600,36,98.07,5,S18_4600,1940s Ford truck,Trucks and Buses,1:18,Motor City Art Classics,This 1940s Ford Pick-Up truck is re-created in...,3128,84.76,121.08
20,10103,10103,S18_4668,41,40.75,9,S18_4668,1939 Cadillac Limousine,Vintage Cars,1:18,Studio M Art Models,Features completely detailed interior includin...,6645,23.14,50.31
21,10103,10103,S24_2300,36,107.34,1,S24_2300,1962 Volkswagen Microbus,Trucks and Buses,1:24,Autoart Studio Design,This 1:18 scale die cast replica of the 1962 M...,2327,61.34,127.79
22,10103,10103,S24_4258,25,88.62,15,S24_4258,1936 Chrysler Airflow,Vintage Cars,1:24,Second Gear Diecast,"Features opening trunk, working steering syst...",4710,57.46,97.39
23,10103,10103,S32_1268,31,92.46,3,S32_1268,1980s GM Manhattan Express,Trucks and Buses,1:32,Motor City Art Classics,This 1980s era new look Manhattan express is ...,5099,53.93,96.31
24,10103,10103,S32_3522,45,63.35,7,S32_3522,1996 Peterbilt 379 Stake Bed with Outrigger,Trucks and Buses,1:32,Red Start Diecast,"This model features, opening doors, detailed e...",814,33.61,64.64
25,10103,10103,S700_2824,42,94.07,6,S700_2824,1982 Camaro Z28,Classic Cars,1:18,Carousel DieCast Legends,Features include opening and closing doors. Co...,6934,46.53,101.15
26,10104,10104,S12_3148,34,131.44,1,S12_3148,1969 Corvair Monza,Classic Cars,1:18,Welly Diecast Productions,"1:18 scale die-cast about 10"" long doors open,...",6906,89.14,151.08
27,10104,10104,S12_4473,41,111.39,9,S12_4473,1957 Chevy Pickup,Trucks and Buses,1:12,Exoto Designs,"1:12 scale die-cast about 20"" long Hood opens,...",6125,55.70,118.50
28,10104,10104,S18_2238,24,135.90,8,S18_2238,1998 Chrysler Plymouth Prowler,Classic Cars,1:18,Gearbox Collectibles,Turnable front wheels; steering function; deta...,4724,101.51,163.73
29,10104,10104,S18_2319,29,122.73,12,S18_2319,1964 Mercedes Tour Bus,Trucks and Buses,1:18,Unimax Art Galleries,Exact replica. 100+ parts. working steering sy...,8258,74.86,122.73
30,10104,10104,S18_3232,23,165.95,13,S18_3232,1992 Ferrari 360 Spider red,Classic Cars,1:18,Unimax Art Galleries,"his replica features opening doors, superb det...",8347,77.90,169.34
31,10104,10104,S18_4027,38,119.20,3,S18_4027,1970 Triumph Spitfire,Classic Cars,1:18,Min Lin Diecast,Features include opening and closing doors. Co...,5545,91.92,143.62
32,10104,10104,S24_1444,35,52.02,6,S24_1444,1970 Dodge Coronet,Classic Cars,1:24,Highway 66 Mini Classics,"1:24 scale die-cast about 18"" long doors open,...",4074,32.37,57.80
33,10104,10104,S24_2840,44,30.41,10,S24_2840,1958 Chevy Corvette Limited Edition,Classic Cars,1:24,Carousel DieCast Legends,The operating parts of this 1958 Chevy Corvett...,2542,15.91,35.36
34,10104,10104,S24_4048,26,106.45,5,S24_4048,1992 Porsche Cayenne Turbo Silver,Classic Cars,1:24,Exoto Designs,"This replica features opening doors, superb de...",6582,69.78,118.28
35,10104,10104,S32_2509,35,51.95,11,S32_2509,1954 Greyhound Scenicruiser,Trucks and Buses,1:32,Classic Metal Creations,"Model features bi-level seating, 50 windows, s...",2874,25.98,54.11
36,10104,10104,S32_3207,49,56.55,4,S32_3207,1950's Chicago Surface Lines Streetcar,Trains,1:32,Gearbox Collectibles,This streetcar is a joy to see. It has 80 sepa...,8601,26.72,62.14
37,10104,10104,S50_1392,33,114.59,7,S50_1392,Diamond T620 Semi-Skirted Tanker,Trucks and Buses,1:50,Highway 66 Mini Classics,This limited edition model is licensed and per...,1016,68.29,115.75
38,10104,10104,S50_1514,32,53.31,2,S50_1514,1962 City of Detroit Streetcar,Trains,1:50,Classic Metal Creations,This streetcar is a joy to see. It has 99 sepa...,1645,37.49,58.58
39,10105,10105,S10_4757,50,127.84,2,S10_4757,1972 Alfa Romeo GTA,Classic Cars,1:10,Motor City Art Classics,Features include: Turnable front wheels; steer...,3252,85.68,136.00
40,10105,10105,S12_1108,41,205.72,15,S12_1108,2001 Ferrari Enzo,Classic Cars,1:12,Second Gear Diecast,Turnable front wheels; steering function; deta...,3619,95.59,207.80
41,10105,10105,S12_3891,29,141.88,14,S12_3891,1969 Ford Falcon,Classic Cars,1:12,Second Gear Diecast,Turnable front wheels; steering function; deta...,1049,83.05,173.02
42,10105,10105,S18_3140,22,136.59,11,S18_3140,1903 Ford Model A,Vintage Cars,1:18,Unimax Art Galleries,"Features opening trunk, working steering system",3913,68.30,136.59
43,10105,10105,S18_3259,38,87.73,13,S18_3259,Collectable Wooden Train,Trains,1:18,Carousel DieCast Legends,Hand crafted wooden toy train set is in about ...,6450,67.56,100.84
44,10105,10105,S18_4522,41,75.48,10,S18_4522,1904 Buick Runabout,Vintage Cars,1:18,Exoto Designs,"Features opening trunk, working steering system",8290,52.66,87.77
45,10105,10105,S24_2011,43,117.97,9,S24_2011,18th century schooner,Ships,1:24,Carousel DieCast Legends,All wood with canvas sails. Many extras includ...,1898,82.34,122.89
46,10105,10105,S24_3151,44,73.46,4,S24_3151,1912 Ford Model T Delivery Wagon,Vintage Cars,1:24,Min Lin Diecast,"This model features chrome trim and grille, op...",9173,46.91,88.51
47,10105,10105,S24_3816,50,75.47,1,S24_3816,1940 Ford Delivery Sedan,Vintage Cars,1:24,Carousel DieCast Legends,"Chrome Trim, Chrome Grille, Opening Hood, Open...",6621,48.64,83.86
48,10105,10105,S700_1138,41,54.00,5,S700_1138,The Schooner Bluenose,Ships,1:700,Autoart Studio Design,All wood with canvas sails. Measures 31 1/2 in...,1897,34.00,66.67
49,10105,10105,S700_1938,29,86.61,12,S700_1938,The Mayflower,Ships,1:700,Studio M Art Models,Measures 31 1/2 inches Long x 25 1/2 inches Hi...,737,43.30,86.61

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!